body, h1 {
  font-family: "Raleway", Arial, sans-serif;
}

h1 {
  letter-spacing: 6px;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

.header-container {
  padding: 96px 16px 0px;
}

.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }

.margin {margin-bottom: 45px;}

.school_description {
    height: 120px;
}

.footer {
    color:#474e5d;
}

.padding-0{
    padding-right:0px;
    padding-left:0px;
}

.no-space-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.text-size-1-25 {
    font-size: 1.5rem;
}

a {
    color: #474e5d;
}
