{%extends 'portfolio/base.html' %}
{%load static %}

{%block title%} Youssef - Photography {%endblock%}

{% block content %}
<header class="w3-panel w3-center w3-opacity header-container">
    <h1 class="">Youssef Digital Nomad</h1>
  <h1 class="w3-xlarge ml3">Photogrfaphy</h1>

  <div class="w3-padding-32">
     <div class="w3-bar w3-border">
       <a href="{% url 'index' %}" class="w3-bar-item w3-button">Home</a>
       <a href="{%url 'developer'%}" class="w3-bar-item w3-button">Software Engineer</a>
     </div>
   </div>
</header>

  <!-- Photo Grid -->
  <div class="w3-row" id="myGrid" style="margin-bottom:128px; padding-top:20px">
    <div class="w3-third">
        <img src={%static 'portfolio/images/Eleri.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/merlon-lagos.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/michelle-boat.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/boat-elmedano.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/ting-workout-algarve.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/johan-algarve.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/eleri-computer-sagres.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">


    </div>

    <div class="w3-third">
        <img src={%static 'portfolio/images/portrait-elmedano.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/jeremie-algarve.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/landscape-algarve.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/cofee-shop-algarve.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/sunrise-lagos-bridge.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/landscape-algarve-2.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/ting-computer-algarve.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
    </div>


    <div class="w3-third">
        <img src={%static 'portfolio/images/musician-paris.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/sylvie-elmedano.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/sunrise-lagos.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/beach-couple-elmedano.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/landscape-bretagne.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/lover-lyon.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
        <img src={%static 'portfolio/images/hat-paris.jpg'%} style="width:100%" alt="Portrait blue eyes" loading="lazy">
    </div>
  </div>


{%endblock%}
